<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>New Website on Fozzy hosting</title>
    <style>
        @charset "utf-8";

        html,
        body {
            width: 100%;
            height: 100%;
        }

        body {
            margin: 0;
            padding: 0;
            background: #fff;
            font: normal 21px/39px "Myriad Pro", "PT Sans", "Trebuchet MS", Arial, Helvetica, sans-serif;
            color: #000;
            -webkit-text-size-adjust: none;
        }

        .hello-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .hello {
            color: #000;
            text-align: center;
            line-height: 33px;
            letter-spacing: 0.02em;
        }

        @media only screen and (min-width: 320px) and (max-width: 640px) {

            .hello-container {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100vh;
            }

            .hello {
                color: #000;
                text-align: center;
                line-height: 33px;
                letter-spacing: 0.02em;
                width: 72%;
                height: 81%;
            }

        }
    </style>
</head>
<body>
<div class="hello-container">
    <div class="hello">
        <img src="http://a3-47.so.clients.cdn13.com/earth.png" style="margin-bottom: 33px;"><br>
        <img src="http://a3-47.so.clients.cdn13.com/helloworld.png" style="margin-bottom: 33px;">
        <p>This is default page for all new hosting accounts.<br>This is WWW folder.</p>
        <img src="http://a3-47.so.clients.cdn13.com/hello-fozzy.png" style="margin-bottom: 99px;">
    </div>
</div>
</body>
</html>